.loginpage {
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#containerlogin {
    position: absolute; 
    top: 20%;
    left: 35%;
    height: 60%;
    width: 25%;
    padding-top: 60px;
    background-color: rgba(230, 252, 255, 0.856);
    border-radius: 10px;
}

.btn-login {
    background-color: rgb(6, 155, 214);
    color: white;
    width: 100%;
}

.center {
    position: absolute;
    left: 42.5%;
}

.header {
    padding-left: 15%;
}

.btnrounded {
    border-radius: 40px;
}

.tamanho {
    width: 260px;
}

  